#Theoritical questions

1.What are data structures, and why are they important?
  ->In Python, data structures are specialized formats for organizing, storing, and managing data efficiently. They help in performing operations like searching, sorting, and modifying data easily and quickly.

2.Explain the difference between mutable and immutable data types with examples.
  ->Mutable: Can be changed after creation (e.g., list, dict, set)
    a = [1, 2, 3]
    a[0] = 10  # OK
  Immutable: Cannot be changed after creation (e.g., int, float, tuple, str)
    s = "hello"
    s[0] = 'H'  # Error

3.P What are the main differences between lists and tuples in Python?
  ->List: Mutable, slower, more flexible
    Tuple: Immutable, faster, good for fixed data
    list1 = [1, 2, 3]
    tuple1 = (1, 2, 3)

4. Describe how dictionaries store data.
  ->Dictionaries store data as key-value pairs using a hash table. Each key is used to find its index.

5.Why might you use a set instead of a list in Python?
  ->Sets are faster for membership tests(in), automatically remove duplicates, and are unordered.

6.What is a string in Python, and how is it different from a list?
  ->A string is an immutable sequence of characters.
    A list can hold different types, is mutable, and can be modified.

7.How do tuples ensure data integrity in Python?
  ->Tuples are immutable, meaning their content can't change, which protects data from accidental modification.

8.What is a hash table, and how does it relate to dictionaries in Python?
  ->A hash table maps keys to values using a hash function. Python's dictionaries are implemented using hash tables.

9.Can lists contain different data types in Python?
  ->Yes. Python lists can store elements of different data types.
    mixed = [1, "two", 3.0]
10.Explain why strings are immutable in Python?
  ->Strings are immutable for performance, security, and hashing purposes. Changing a string creates a new one.

11.What advantages do dictionaries offer over lists for certain tasks?
  ->Faster lookups using keys.
  More readable when using named keys.
  Efficient mapping between values.

12.Describe a scenario where using a tuple would be preferable over a list?
  ->When we want to store constant data like (latitude, longitude) or use it as a key in a dictionary.

13.How do sets handle duplicate values in Python?
  ->How do sets handle duplicate values in Python?
    Sets automatically remove duplicates.
    s = {1, 2, 2, 3}
    print(s)  # Output: {1, 2, 3}

14.How does the “in” keyword work differently for lists and dictionaries?
  ->List: Checks if value exists in elements.
    Dict: Checks if key exists.
    "a" in [1, "a", 3]  # True
    "a" in {"a": 1}     # True (checks key)

15.Can you modify the elements of a tuple? Explain why or why not?
  ->No, tuples are immutable. Once created, you cannot change their contents.

16.What is a nested dictionary, and give an example of its use case?
  ->A nested dictionary contains another dictionary as a value.
    Use case: Storing student records.
    students = {"John": {"age": 20, "grade": "A"}}

17.Describe the time complexity of accessing elements in a dictionary?
  ->Average-case time complexity is O(1) due to hash table lookup.

18.In what situations are lists preferred over dictionaries?
  ->When we need ordered data.
  When there is no key-value pairing.
  For simple sequences.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
  ->Dictionaries are called unordered because you can't access items by position, only by key.
  d = {"a": 1, "b": 2}
  print(d["a"])  #ok
  print(d[0])    #error

20.Explain the difference between a list and a dictionary in terms of data retrieval?
  ->List: Access data using index (position)
      my_list = [10, 20, 30]
      print(my_list[1])  # Output: 20
  Dictionary: Access data using a key (name)
    my_dict = {"a": 10, "b": 20}
    print(my_dict["b"])  # Output: 20

#practical questions

In [2]:
#1.Write a code to create a string with your name and print it.
name = input("enter your name :")
print(name)

enter your name :Devraj
Devraj

In [3]:
#2.Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

str = "Python Programming"
print(str[0:3])

Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase.
str  = "hello"
str1 = str.upper()
print(str1)

HELLO

In [10]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str1 = str.replace("apple","orange")
print(str1)

I like orange

In [60]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list1 = []
for i in range(5):
  list1.append(i+1)
print(list1)

[1, 2, 3, 4, 5]

In [61]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [62]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [63]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

In [18]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [64]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [65]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [66]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [67]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index('cat'))

1

In [68]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1 = ("mango","kiwi","guava")
if "kiwi" in tuple1:
  print("kiwi is present in the tuple")
else:
  print("not present there")

kiwi is present in the tuple

In [69]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'a', 'b'}

In [70]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [72]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 ={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [73]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [74]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = set1.intersection(set2)
print(set3)

{2, 3}

In [75]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
preson = {"name" : "Devraj Maji","age" : 20,"city":"Kolkata"}
print(preson)

{'name': 'Devraj Maji', 'age': 20, 'city': 'Kolkata'}

In [76]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
preson = {'name': 'John', 'age': 25}
preson["country"] = "USA"
print(preson)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [77]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [78]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [79]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
flag = 0
for i in dict1.keys():
  if(i == 'city'):
    flag = 1
    break
if(flag == 1):
  print("yes! the key city present in dictionary")
else:
  print("not present")

yes! the key city present in dictionary

In [80]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
tuple = (10, 20, 30)
dict = {"name": "Alice", "age": 25}

print("List:", list)
print("Tuple:",tuple)
print("Dictionary:", dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 25}

In [81]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
number= random.sample(range(1, 101), 5)
number.sort()
print(number)

[1, 9, 14, 17, 86]

In [82]:
#28.Write a code to create a list with strings and print the element at the third index.
list1 = []
for i in range(5):
  str = input("enter the strings : ")
  list1.append(str)
print(list1[3])

enter the strings : fg
enter the strings : hj
enter the strings : jk
enter the strings : ui
enter the strings : ty
ui

In [83]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1,"b": 2}
dict2 = {"c": 3,"d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [84]:
#30. Write a code to convert a list of strings into a set.
list1 = ["ab", "ab", "ac", "nm", "nm"]
set1 = set(list1)
print(set1)

{'ac', 'nm', 'ab'}